<a href="https://colab.research.google.com/github/code-with-trupti/NewCodingBot/blob/main/Hotel%20booking%20analysis_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - **Hote Booking Analysis**

##### **Project Type**    - EDA
##### **Contribution**    - Individual

# **Project Summary -**


The given dataset is of hotel booking. I explored and analyzed the given dataset and discovered some important factors regarding hotel booking. For this, I first read the given data in my collab notebook and then understand the whole data like what are variables in the given data. After that cleaned the data frame in data wrangling. For that I used some functions like drop(), fillna(), isna()/isnull() functions. Then I added some columns which are required in the analysis and removed some columns which are not required. Using this data frame I explored some variables using visualization charts like pie charts, count plots, barplot, and heatmaps and I can find out some insights which are important factors. From these insights, I can suggest some business objectives to clients.

 This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data.

# **GitHub Link -**

https://github.com/code-with-trupti/NewCodingBot/blob/main/Copy_of_Sample_EDA_Submission_Hotel_Booking_Analysis_.ipynb

# **Problem Statement**

The given dataset is of hotel booking. I explored and analyzed the given dataset and discovered some important factors regarding hotel booking. For this, I first read the given data in my collab notebook and then understand the whole data like what are variables in the given data. After that cleaned the data frame in data wrangling. For that I used some functions like drop(), fillna(), isna()/isnull() functions. Then I added some columns which are required in the analysis and removed some columns which are not required. Using this data frame I explored some variables using visualization charts like pie charts, count plots, barplot, and heatmaps and I can find out some insights which are important factors. From these insights, I can suggest some business objectives to clients.

#### **Define Your Business Objective?**

Analyse the data on Hotel Booking and discover the different factors which affects the booking

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [1]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

### Dataset Loading

In [2]:
# Load Dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Dataset First View

In [3]:
# Dataset First Look
filepath = "/content/Hotel Bookings.csv"
df = pd.read_csv(filepath)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2.0,...,No Deposit,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2.0,...,No Deposit,NaN,NaN,0.0,Transient,0.00,0.0,0.0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1.0,...,No Deposit,NaN,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1.0,...,No Deposit,304.0,NaN,0.0,Transient,75.00,0.0,0.0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2.0,...,No Deposit,240.0,NaN,0.0,Transient,98.00,0.0,1.0,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14679,Resort Hotel,0,0,2017,April,16,18,0,1,1.0,...,No Deposit,NaN,329.0,0.0,Transient,74.00,0.0,1.0,Check-Out,2017-04-19
14680,Resort Hotel,1,399,2015,December,52,22,0,1,2.0,...,No Deposit,240.0,NaN,0.0,Transient,36.00,0.0,0.0,Canceled,2015-01-01
14681,Resort Hotel,1,202,2015,July,30,22,2,5,2.0,...,No Deposit,156.0,NaN,0.0,Contract,90.95,0.0,0.0,Canceled,2015-01-01
14682,Resort Hotel,1,259,2015,September,38,17,0,3,2.0,...,Non Refund,NaN,223.0,0.0,Transient,40.05,0.0,0.0,Canceled,2015-01-21
14683,Resort Hotel,1,259,2015,September,38,17,0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2.0,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2.0,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,2015-07-01

In [5]:
df.tail(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
14682,Resort Hotel,1,259,2015,September,38,17,0,3,2.0,...,Non Refund,NaN,223.0,0.0,Transient,40.05,0.0,0.0,Canceled,2015-01-21
14683,Resort Hotel,1,259,2015,September,38,17,0,3,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Dataset Rows & Columns count

In [6]:
# Dataset Rows & Columns count
df.shape

(14684, 32)

### Dataset Information

In [7]:
# Dataset Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14684 entries, 0 to 14683
Data columns (total 32 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   hotel                           14684 non-null  object
 1   is_canceled                     14684 non-null  int64
 2   lead_time                       14684 non-null  int64
 3   arrival_date_year               14684 non-null  int64
 4   arrival_date_month              14684 non-null  object
 5   arrival_date_week_number        14684 non-null  int64
 6   arrival_date_day_of_month       14684 non-null  int64
 7   stays_in_weekend_nights         14684 non-null  int64
 8   stays_in_week_nights            14684 non-null  int64
 9   adults                          14683 non-null  float64
 10  children                        14683 non-null  float64
 11  babies                          14683 non-null  float64
 12  meal                            14683 non-null  object
 13  country                         14246 non-null  object
 14  market_segment                  14683 non-null  object
 15  distribution_channel            14683 non-null  object
 16  is_repeated_guest               14683 non-null  float64
 17  previous_cancellations          14683 non-null  float64
 18  previous_bookings_not_canceled  14683 non-null  float64
 19  reserved_room_type              14683 non-null  object
 20  assigned_room_type              14683 non-null  object
 21  booking_changes                 14683 non-null  float64
 22  deposit_type                    14683 non-null  object
 23  agent                           12172 non-null  float64
 24  company                         1005 non-null   float64
 25  days_in_waiting_list            14683 non-null  float64
 26  customer_type                   14683 non-null  object
 27  adr                             14683 non-null  float64
 28  required_car_parking_spaces     14683 non-null  float64
 29  total_of_special_requests       14683 non-null  float64
 30  reservation_status              14683 non-null  object
 31  reservation_status_date         14683 non-null  object
dtypes: float64(13), int64(7), object(12)
memory usage: 3.6+ MB

In [8]:
# Group by using data on arrival date year
df.groupby('arrival_date_year').mean().head()

<ipython-input-8-07755913af4d>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('arrival_date_year').mean().head()

,is_canceled,lead_time,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
arrival_date_year,,,,,,,,,,,,,,,,,,,
2015,0.360234,65.181263,38.736507,15.537424,1.230397,3.324084,1.971989,0.121721,0.017825,0.000255,0.007130,0.042271,0.222816,209.635998,233.181102,2.256175,95.187604,0.124013,0.681182
2016,0.729192,138.483046,27.511097,16.101880,1.261097,3.307337,1.873921,0.126541,0.012176,0.000154,0.007861,0.142263,0.249692,216.467508,199.520755,0.850185,91.007059,0.037145,0.412145
2017,0.943768,132.358716,20.337160,15.764995,1.396673,3.642221,1.920103,0.255623,0.003515,0.000000,0.012184,0.197985,0.191893,242.146013,250.515837,0.131678,122.008746,0.016870,0.597001

In [9]:
# Sort values
df.sort_values('total_of_special_requests', ascending=False).head(2)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
7860,Resort Hotel,1,39,2016,August,36,30,0,5,2.0,...,No Deposit,NaN,NaN,0.0,Transient,159.00,0.0,5.0,Canceled,2016-07-22
14596,Resort Hotel,0,22,2015,July,28,9,0,3,3.0,...,No Deposit,NaN,NaN,0.0,Transient-Party,180.67,1.0,5.0,Check-Out,2015-07-12

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count

In [ ]:
# Drop duplicates

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count

In [ ]:
# Visualizing the missing values

### What did you know about your dataset?

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns

In [ ]:
# Dataset Describe

### Variables Description

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
# I describe all the unique values using lambda fuction of indivisual column.

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.

### What all manipulations have you done and insights you found?

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

#### Chart - 1

In [ ]:
# Chart - 1 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 2

In [ ]:
# Chart - 2 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 3

In [ ]:
# Chart - 3 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 4

In [ ]:
# Chart - 4 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 5

In [ ]:
# Chart - 5 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 6

In [ ]:
# Chart - 6 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 7

In [ ]:
# Chart - 7 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 8

In [ ]:
# Chart - 8 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 9

In [ ]:
# Chart - 9 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

#### Chart - 10

In [ ]:
# Chart - 10 visualization code

##### 1. Why did you pick the specific chart?

##### 2. What is/are the insight(s) found from the chart?

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

## **5. Solution to Business Objective**

# **Conclusion**

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***